//Mobile first breakpoints
$min-mobile: 320px;
$max-mobile: 480px;
$min-tablet: 481px;
$max-tables: 768px;
$min-screen-sm: 769px;
$max-screen-sm: 1024px;
$min-screen-md: 1025px;
$max-screen-md: 1200px;
$min-screen-lg: 1201px;
