//Button background color
$primary-color: #2f80ed;
$secondary-color: #f2994a;
$font-blue: #2f80ed;

:root {
  --color-primary: #{$primary-color};
  --color-primary-light: #{lighten($primary-color, 8)};
  --color-primary-dark: #{darken($primary-color, 8)};
  --color-secondary: #{$secondary-color};
  --color-secondary-light: #{lighten($secondary-color, 8)};
  --color-secondary-dark: #{darken($secondary-color, 8)};
  --color-font-white: #fff;
  --color-font-blue: #{$font-blue};
  --color-font-blue-dark: #{darken($font-blue, 8)};
}
