$DEFAULT_SPACING: 8px;

$spacing-xsm: $DEFAULT_SPACING;
$spacing-sm: $DEFAULT_SPACING * 2;
$spacing-md: $DEFAULT_SPACING * 3;
$spacing-lg: $DEFAULT_SPACING * 4;
$spacing-xl: $DEFAULT_SPACING * 5;
$spacing-xxl: $DEFAULT_SPACING * 6;
